<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            margin: 10px;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        <p>Employee ID <input type="integer" name="employee_id"/></p>
        <p>Name <input type="text" name="name"/></p>
        <p>Experience <input type="integer" name="experience"/></p>
        <p>Job Profile <input type="text" name="job_profile"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>