<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h3>ID</h3>
    <p>{{ employee.employee_id }}</p>
    <hr>
    <h3>Name</h3>
    <p>{{ employee.name }}</p>
    <hr>
    <h3>Experience</h3>
    <p>{{ employee.experience }}</p>
    <hr>
    <h3>Job Profile</h3>
    <p>{{ employee.job_profile }}</p>
    <hr>
</body>
</html>
